<nav class="nav_bar">
  <ul class="nav_bar__list">
    <div class="logo">
      <a class="logo__icon" href="/story/catalog"></a>
      <h1 class="section__title"><%= sectionTitle %></h1>
    </div>
    <div class="links">
      <% if(currentUser) { %>
      <div class="links__container">
        <span class="btn-style"
          >Create New <ion-icon name="chevron-down-outline" data-icon></ion-icon
        ></span>

        <div class="hidden-links hidden">
          <li>
            <a href="/story/create" class="btn-style">Story Post</a>
          </li>
          <li>
            <a href="/category/create" class="btn-style">Category</a>
          </li>
        </div>
      </div>
      <li>
        <a href="/account/profile/<%= currentUser._id %> " class="btn-style"
          >Profile</a
        >
      </li>
    </div>
    <% } else { %>
    <li><a href="/account/login" class="btn-style">Login</a></li>
    <li><a href="/account/register" class="btn-style">Register</a></li>
    <% } %>
  </ul>
</nav>
