<nav class="nav_bar">
  <ul class="nav_bar__list">
    <div class="logo">
      <a class="logo__icon" href="/story/catalog"></a>
      <h1 class="section__title"><%= sectionTitle %></h1>
    </div>
    <div class="links">
      <div class="links__container">
        <span class="btn-style"
          >Create New <ion-icon name="chevron-down-outline" data-icon></ion-icon
        ></span>

        <div class="hidden-links hidden">
          <li>
            <a href="/story/create" class="btn-style">Story Post</a>
          </li>
          <li>
            <a href="/category/create" class="btn-style">Category</a>
          </li>
        </div>
      </div>
      <div class="links__container">
        <span class="btn-style"
          >Search by <ion-icon name="chevron-down-outline" data-icon></ion-icon
        ></span>

        <div class="hidden-links hidden">
          <li><a href="" class="btn-style">My Stories</a></li>
          <li><a href="" class="btn-style">Category</a></li>
        </div>
      </div>
      <li><a href="" class="btn-style">Profile</a></li>
    </div>
  </ul>
</nav>
