<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="login-form-container">
      <h1>Get Started</h1>
      <a href="/story/catalog" class="underline_link">Proceed without login</a>
      <form action="" method="post" class="login-form">
        <div class="login-form-fields">
          <label for="username">Username: </label>
          <input
            type="text"
            id="username"
            name="username"
            autocomplete="username"
            required
          />
        </div>
        <div class="login-form-fields">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
        </div>
        <div class="login-form-buttons">
          <button type="submit" class="btn-style">Login</button>
          <a href="/account/register" class="btn-style">Sign Up</a>
        </div>
      </form>

      <% if(messages.error) { %>
      <ul class="error-list">
        <% messages.error.forEach(error => { %>
        <li>&#9679; <%= error %></li>
        <% }) %>
      </ul>
      <% } %>
    </div>
  </body>
</html>
