<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF_8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <h1>Register</h1>
    <form action="" method="post">
      <!-- USERNAME -->
      <label for="username">Username:</label>
      <input
        type="text"
        name="username"
        id="username"
        required
        placeholder="John34"
        value="<%= typeof author != 'undefined' ? author.username : '' %>"
      />

      <!-- EMAIL -->
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        required
        value="<%= typeof author != 'undefined' ? author.email : '' %>"
      />

      <!-- BIRTH DATE -->
      <label for="birth_date">Birth Date:</label>
      <input
        type="date"
        id="birth_date"
        name="birth_date"
        required
        value="<%= typeof author != 'undefined' ? author.birth_date : '' %>"
      />

      <!-- SEX -->
      <label for="sex">Sex:</label>
      <select name="sex" id="sex">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>

      <!--  PASSWORD -->
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <label for="confirm_password">Confirm Password:</label>
      <input
        type="password"
        id="confirm_password"
        name="confirm_password"
        required
      />

      <!-- SUBMIT -->
      <button type="submit">Register</button>
    </form>

    <% if(typeof errors != 'undefined') { %>
    <ul>
      <% errors.forEach(err => { %>
      <li><%= err.msg %></li>
      <% }) %>
    </ul>

    <% } %>
  </body>
</html>
