<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body class="body-pattern">
    <%- include('./partials/navBar.ejs') %> <%-
    include('./partials/storyForm.ejs') %>
  </body>
</html>
