<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body class="body-pattern">
    <%- include('./partials/navBar.ejs', {pageTitle}) %>

    <section class="grid-container">
      <% if(!currentUser) { %>
      <p data-message>
        If you want to write your stories and see all the details of other
        stories you must register or be logged in
      </p>
      <% } %> <% if(currentUser && !currentUser.membership_status) { %>
      <p data-message>
        <a
          class="member underline_link"
          href="/account/profile/<%= currentUser._id %>/update "
          >Become a member</a
        >
        to see all the details of other stories
      </p>
      <% } %> <% if(!list_story.length > 0) { %>
      <p data-message>No story available</p>
      <% } %> <% list_story.forEach(story => { %> <%-
      include('./partials/storyContainer.ejs', {story}) %> <% }) %>
    </section>
  </body>
</html>
