<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navBar.ejs', {pageTitle}) %>

    <section class="grid-container">
      <% list_story.forEach(story => { %> <%-
      include('./partials/storyContainer.ejs', {story}) %> <% }) %>
    </section>

    <% if(!list_story.length > 0) { %>
    <p>No story available</p>
    <% } %> <%- include('./partials/icons.ejs') %>
  </body>
</html>
