<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navBar.ejs') %> <%-
    include('./partials/storyForm.ejs') %> <%- include('./partials/icons.ejs')
    %>
  </body>
</html>
