.profile-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: var(--container-margins);
  width: fit-content;
}

.profile-image {
  border: 1px solid black;
  height: 80px;
  width: 80px;
  border-radius: var(--border-radius);
}

.info {
  font-weight: bold;
}

.stories .btn-style {
  margin-left: 0.6rem;
}
