.update_profile_container {
  display: flex;
  gap: 5rem;
  margin: var(--container-margins);
}

.form label {
  display: inline-block;

  margin-bottom: var(--space-08);
}

.sex-field,
.membership-field {
  display: flex;
  align-items: center;
  gap: var(--space-16);
}

.sex-field > div,
.membership-field > div {
  display: flex;
  align-items: center;
  gap: var(--space-08);
}

.sex-field > div input,
.membership-field > div input {
  cursor: pointer;
  width: fit-content;
}

.sex-field > div label,
.membership-field > div label {
  margin-bottom: 0;
  font-size: 0.8rem;
}

.live_preview {
  flex-basis: 50%;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.handle_form_buttons {
  display: flex;
  gap: var(--space-08);
}
