.create_story_container {
  display: flex;
  gap: 5rem;
  margin: var(--container-margins);
}

.form {
  flex-basis: 50%;

  height: fit-content;

  display: flex;
  flex-direction: column;
  gap: var(--space-16);

  border: var(--border);

  padding: 1rem 1.5rem;
  border-radius: 10px;
}

.form label {
  display: inline-block;

  margin-bottom: var(--space-08);
}

.form textarea,
.form input,
.form select {
  width: 100%;
  resize: none;
  font-family: inherit;

  border: 0.5px solid rgb(167, 167, 167);
  border-radius: 3px;
  outline-color: rgb(134, 134, 134);

  padding: 0.2rem;
  background-color: var(--white);
}

.form select {
  cursor: pointer;
}

.live_preview {
  flex-basis: 50%;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons-container a {
  color: var(--red);
}

.handle_form_buttons {
  display: flex;
  gap: var(--space-08);
}

.handle_form_buttons button {
  cursor: pointer;
  border: none;
  font: inherit;
  font-weight: bold;
  padding: 0.4rem 0.6rem;
  border-radius: var(--border-radius);
}

.handle_form_buttons button:first-of-type {
  background-color: var(--white);
  border: 1px solid var(--red);
  color: var(--red);
}

.handle_form_buttons button:last-of-type {
  background-color: var(--red);
  color: var(--violer);
}
