.create_story_container {
  display: flex;
  gap: 5rem;
  margin: var(--container-margins);
}

.live_preview {
  flex-basis: 50%;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.handle_form_buttons {
  display: flex;
  gap: var(--space-08);
}
